body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg);
}
.header {
  display: flex;
  align-items: center;
  padding: 24px 0;
  border-bottom: #ececec 1px solid;
}
.header-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  align-items: center;
}

.header-container > .logo {
  margin-right: 93px;
  text-decoration: none;
}

.navigation {
  margin-right: auto;
}
.nav-pages {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.header-group {
  display: flex;
  gap: 50px;
}

.logo-accent {
  color: #2196f3;
}

.header-container > .logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.nav-link {
  text-decoration: none;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #2196f3;
}

.mail {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
}
.phone {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
}

.portfolio {
  width: 1200px;
  margin: 94px auto;
  padding: 0 15px;
}

.filters {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.btn-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px; /* or whatever Figma says */
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  font-size: 16px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #212121;
  cursor: pointer;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #2196f3;
  color: #ffffff;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.project-card {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.project-card:hover,
.project-card:focus,
.project-card:active {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.project-image {
  display: block;
  width: 100%;
}

.card-text {
  padding: 16px;
}

.project-title {
  color: #212121;
  font-size: 18px;
}

.project-description {
  color: #757575;
  font-size: 16px;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer .nav-link {
  font-size: 26px;
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
}

.footer .mail,
.footer .phone {
  color: #ffffff;
  opacity: 0.6;
  font-size: 14px;
  margin-bottom: 20px;
}
